<div class="wrapper">
    <div class="images">
        <img src='http://localhost:3000{{product?.product[0].image_1}}'>
        <img src='http://localhost:3000{{product?.product[0].image_2}}'>
        <img src='http://localhost:3000{{product?.product[0].image_3}}'>
    </div>
    <div class="description">
        <h1>{{product?.product[0].title}}</h1>
        <h2>{{product?.product[0].price}} €</h2>
        <p>{{product?.product[0].description}}</p>
        <div class="sizes">
            <label>SELECT YOUR NUMBER</label>
            <select (change)="handleSelectSize($event)">
                <option value="not-valid" selected>Select your number</option>
                <option *ngFor="let item of product?.sizes" value={{item?.number}}>{{item.number}} -- {{item.quantity}}
                    units left
                </option>
            </select>
        </div>
        <div class="addToCart" [ngClass]="{'sizeSelected': !classSizeSelected}">
            <button class="btn-addToCart" (click)="handleAddToCart(product?.product[0].sku, size)">ADD TO CART</button>
        </div>
        <p *ngIf="alreadyInCart">Item already in your cart!</p>
    </div>
</div>