<div class="flexForms">
    <form>
        <h3>ACCOUNT DETAILS</h3>
        <input type="email" placeholder="Aqui ira el email del usuario">
        <h3>RESET PASSWORD</h3>
        <input type="password" name="" id="" placeholder="New password">
        <input type="password" name="" id="" placeholder="Repeat password">
        <p>Logged in as variable con el email.</p>
        <p>Not you? logout</p>
        <input class="submit" type="submit" value="SUBMIT">
    </form>
    <form>
        <h3>DELIVERY ADDRESS</h3>
    </form>
    <form>
        <h3>BILLING ADDRESS</h3>
    </form>
</div>