.topWrapper{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    z-index: 100;
}

.topWrapper::before {
	content: "";
	position: fixed;
	top: -10px;
	left: 0;
	width: 100%;
	height: 10px;
	box-shadow: 0 0 100px 60px rgba(255, 255, 255,.9);
	z-index: 100;
  }

.navWrapper{
    display: flex;
    width: 40%;
    height: 100px;
    justify-content: space-around;
    margin-top: 3.5em;
}

.navItem{
    display: inline;
    padding: 1em;
    z-index: 110;
}

.navItem button{
    color: black;
    font-weight: bold;
}

.navLogo{
    margin-top: 2em;
    width: 20%;
}

.navButton{
    font-size: 14px;
    border: transparent;
    background: transparent;
    cursor: pointer;
    transition: all 0.1;
}

.navButton:hover{
    border-bottom: 2px solid black;
    padding-bottom: .5em;
    transition: all 0.1;
}