<div class="topWrapper">
    <nav class="navWrapper">
        <li class="navItem">
            <button class="navButton" mat-button [matMenuTriggerFor]="menu">ALL</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>
        </li>
        <li class="navItem">
            <button class="navButton" mat-button [matMenuTriggerFor]="menu">SHOES</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>
        </li>
        <li class="navItem">
            <button class="navButton" mat-button [matMenuTriggerFor]="menu">BAGS</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>
        </li>
    </nav>
    <li class="navItem navLogo">
        <a href="#">
            <img class="logo" src="../../assets/images/logo-transparent.png" alt="LOGO">
        </a>
    </li>
    <nav class="navWrapper">
        <li class="navItem">
            <button class="navButton" mat-button [matMenuTriggerFor]="menu">OUR WORLD</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>
        </li>
        <li class="navItem">
            <button class="navButton" class="navButton" mat-button [matMenuTriggerFor]="menu" [routerLink]="['/account']" routerLinkActive="router-link-active">ACCOUNT</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>
        </li>
        <li class="navItem">
            <button class="navButton" mat-button [matMenuTriggerFor]="menu">CART</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>
        </li>
    </nav>
</div>