.wrapper{
    position: relative;
    height: 100vh;
    background-image: url(https://lebonnet.imgix.net/uploads/cq_slider/slide/image/33/LB_desktop_slide1.jpg?auto=compress,format&w=2800);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.initialMessage{
    position: absolute;
    text-align: center;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    font-family: Arial-Black,sans-serif;
    font-size: 4vw;
    letter-spacing: .04px;
    color: hsla(0,0%,100%,0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    text-transform: uppercase;
    transition: all .5s;
}

.initialMessage:hover{
    color: hsla(0,0%,100%,.9);

}

.productsWrapper{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
}

.itemWrapper{
    border: 2px solid black;
    text-align: center;
    padding: 2em;
    margin: 1em;
}

.btnAddToCart {
    color: red;
    width: 100%;
}