<div class="ordersTable">
    <div>
        <p class="tableTitle">Order number</p>
        <p *ngFor="let item of arrOrders?.orders">{{item.id}}</p>
    </div>
    <div>
        <p class="tableTitle">Order Status</p>
        <p *ngFor="let item of arrOrders?.orders">{{item.order_status}}</p>
    </div>
    <div>
        <p class="tableTitle">Order Date</p>
        <p *ngFor="let item of arrOrders?.orders">{{item.order_date}}</p>
    </div>
    <div>
        <p class="tableTitle">Products</p>
    </div>
</div>