<div class="wrapper">
    <div class="container">
        <a href="" class="logout">logout</a>
        <div class="header">
            <h3 class="accountTitle">WELCOME</h3>
            <p class="accountText">Esta es su cuenta que le permite controlar su actividad de compra reciente y actualizar su información personal. Seleccione una pestaña a continuación para ver o editar información</p>
        </div>
        <div class="content">
            <div class="headerContent">
                <div [routerLink]="['tab-personal-information']" routerLinkActive="router-link-active">
                    <p>PERSONAL INFORMATION</p>
                </div>
                <div [routerLink]="['tab-orders']">
                    <p>ORDER HISTORY</p>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>